<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445464166041-69d5okdgkjqrcom0ajtr55ap951g872i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445464166041-69d5okdgkjqrcom0ajtr55ap951g872i</string>
	<key>API_KEY</key>
	<string>AIzaSyB-aiV4SzBvA1KRm0TcWXAtEga1NJMvFCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>445464166041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msc.driver</string>
	<key>PROJECT_ID</key>
	<string>driver-f9281</string>
	<key>STORAGE_BUCKET</key>
	<string>driver-f9281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445464166041:ios:7b0a7f2ed38d4541424208</string>
</dict>
</plist>